.container {
max-width:50%;
margin:0 auto;
padding:0;
display: flex;
justify-content: center;
align-items: center;
}
.text{
margin:0 auto;
}
h1 {
font-style:bold;
margin-bottom:0px;
}
h2 {
font-style:italic;
margin-top:0px;
font-weight:normal;
}
